.blob {
    margin-top: 36px;
    margin-bottom: 36px;
}

.blob-cross-button{

    position: absolute;
    top: 12vh;
    left: 29vh;
    visibility: hidden;



}


.blob-label{
    font-family:inter;
    font-size: 22px;
    font-variation-settings: "wght" 400;
    line-height:26px;

}

.blob-heading{
    position: absolute;
    top: 23.58%;
    left: 11%;
    font-family: Unknow;
    font-size: 50px;
    line-height: 55px;
    margin: 0;

}

.blob-text{
    position: absolute;
    top: 33.48%;
    left: 9.1%;
    width: 50%;
    margin: 0px;

    font-family: Inter;
    font-variation-settings: "wght" 300;
    font-size: 18px;
    line-height: 22px;

}

.blob-svg{
    width:100%;
    /* height: 761px; */
    
   


    
}

.blob-svg path {
    fill: var(--blob-color);
}

.blob-container{
    z-index: 99; /* Lower than header */
    position:relative;
    transition: transform 2s ease-in 2s;
    left: 0px;
}

.blob-form{
    width: 54.8%;
    position:absolute;
    top: 55%;
    left: 9.1%;


}

/* Need relative units for distance */
.blob-button{ 

    margin-top: 29px;
    width: 66%;
    height: 45px;
    border-radius: 30px;
    
    border-width: 0px;
   
    font-family: inter;
    font-variation-settings: "wght" 400;
    font-size: 16px;
    line-height: 19px;


}
.blob-input{
    display:block;
    border-radius: 25px;
    height: 45px;
    width: 100%;
    max-width: 221px;


    font-family: inter;
    font-variation-settings: "wght" 100;
    font-size: 16px;
    line-height: 19px;
}


@media screen and (min-width: 436px) {

    .blob-svg{
        width:436px;
        
       
    
    
        
    }
    .blob-container{
        max-width: 436px;
    }
}
@media screen and (min-width: 768px) {

    .blob-container{
        max-width: none;
        position: fixed;
        top:98px;
        left: -52VH;
        z-index: 200; /* Higher than header */
        transition: transform 0.5s ease-in;        
        animation-name: blobSlideIn;
        animation-fill-mode: backwards;
    }

    .blob-animation{
        transform: translatex(52vh);
    }


    .blob-svg{
        

        width: unset; /* Scales with height */
        height: 88vh; 
        
        
    }

    


    .blob-cross-button{

        visibility: visible;
    }


    


    .blob-invisible{
        visibility: hidden;
    }

    .blob-input{

        max-width: none;

        font-size: 25px;

    }

 


}