.footer{

    display: flex;
    flex-wrap: wrap;

}

.footer-column{

    display:flex;
    flex-direction: column;

}

.footer-heading{
    font-family: inter;
    font-variation-settings: "wght" 400;
    font-size: 16px;
    line-height: 20px;
}

.footer-text{

    font-family: inter;
    font-variation-settings: "wght" 300;
    font-size: 16px;
    line-height: 20px;

}