.footer{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--footer-color);
    justify-content: space-around;

}

.footer-column{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    width: 46%

}

.footer-heading{
    margin-top: 25px;
    padding-bottom: 16px;
    margin-bottom: 16px;



    font-family: inter;
    font-variation-settings: "wght" 400;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid black;    
}

.footer-text{
    margin-bottom: 16px;
    margin-top: 0px;

    font-family: inter;
    font-variation-settings: "wght" 300;
    font-size: 16px;
    line-height: 20px;

}
.footer-column:nth-child(1){
    margin-left:4%;

}
.footer-column:nth-child(3){
    margin-left:4%;

}
.footer-column:nth-child(2){
    margin-right:4%;

}
.footer-column:nth-child(4){
    margin-right:4%;

}

.footer-svg{

    margin-top: 0px;
    margin-bottom: 4px;

}



@media screen and (min-width: 768px) {


    .footer-svg{

        margin-top: -8px;
        margin-bottom: 24px;
    
    }
    

    .footer-heading{
        padding-left: 5%;

    }

    .footer-text{
        padding-left: 5%
    }


    .footer-column:nth-child(1){
        margin-left:0%;
    
    }
    .footer-column:nth-child(3){
        margin-left:0%;
    
    }
    .footer-column:nth-child(2){
        margin-right:0%;
    
    }
    .footer-column:nth-child(4){
        margin-right:0%;
    
    }


    .footer-column{
        width: 23%;
        box-sizing: content-box;
    }



    .footer-heading{
        margin-top: 41px;
        padding-bottom: 24px;
        margin-bottom: 36px;


        font-family: inter;
        font-variation-settings: "wght" 400;
        font-size: 20px;
        line-height: 24px;
        border-bottom: 1px solid black;    
    }


    .footer-text{


        font-family: inter;
        font-variation-settings: "wght" 300;
        font-size: 20px;
        line-height: 24px;
    
    }

}