* {
    box-sizing: border-box;
}

:root {
    --banner-color: #f3eddf;
    --header-color: #fff;
    --footer-color: #e4e4e4;
    --background-color: #faf9fa;
    --button-color: #f3f0e9;
    --blob-color: #D36FC4;
    --text-hover-color: #F8519E;
    --button-hover-color: #EDAECB;
}

body {
    margin: 0;
}

/* !important needed to override display:flex etc */
.hidden{

    display: none !important;

}
