.header {
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    flex-direction: column;
}

.banner {
    display: flex;
    width: 100vw;
    height: 36px;
    background-color: grey;
    
}

header {
    display: flex;
    width: 100vw;
    height: 66px;
    background-color: lightgrey;
    
}

nav {
    display: flex;
    justify-content: space-around;
}
