@keyframes fade {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }





.hero{
    overflow: visible;
    width: 100%;
    position:relative;

}


.hero-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 0;



    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}

.hero-image-alternate{
    position:absolute;
    animation-delay: 3s;
    top: 0px;
}



.hero-button{
    width: 200px;
    height: 45px;
    /* width: 40vw; */
    /* height:10vw; */
    border-radius: 25px;
    border: 0px;
    
    position: absolute;
    top: 77%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    font-family: inter;
    font-variation-settings: "wght" 400;
    font-size: 16px;
    line-height: 19px;

    background-color: var(--button-color);
}

.hero-button:hover {
   background-color: var(--button-hover-color); 
}

@media screen and (min-width: 750px) {
    
    .hero-button{
    height: 45px;
    }
}