.stories {
    display: flex;
    height: 120vw;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 100px;
}

.story-container {
    display: flex;
    min-height: 110vw;
    max-width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    padding-right: 24px;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.story-container::-webkit-scrollbar {
    display: none;
}

.scroller {
    width: 15vw;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.scroller-circle {
    aspect-ratio : 1 / 1;
    height: 100%;
    background-color: #c4c4c4;
    border-radius: 100%;
}

.story {
    min-width: 40vw;
    min-height: 110vw;
    display: flex;
    flex-direction: column;
    margin-left: 6vw;
    margin-bottom: 12px;
}

.story img {
    width: 100%;
    height: 60vw;
}

.story article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50vw;
    background-color: var(--background-color);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
}

.story article h4 {
    
    white-space: normal;
    margin: 24px 24px 0 24px;

    font-family: inter;
    font-variation-settings: "wght" 500;
    font-size: 14px;
    line-height: 16px;
 
}

.story article p {
    
    white-space: normal;
    margin: 0 24px;

    font-family: inter;
    font-variation-settings: "wght" 400;
    font-size: 14px;
    line-height: 16px;
}

.story button {
    all: unset;
    min-width: 47%;
    min-height: 24%;
    background-color: var(--carousel-button-color);
    border-radius: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 24px auto;
    filter: drop-shadow(0 2px 2px rgb(0, 0, 0, 0.25));
}

.story button:hover {
    cursor: pointer;
}

.story button p {
    text-align: center;
}

.long {
    display: none;
}


@media screen and (min-width: 750px) {
    .stories {
        height: 54vw;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .story-container {
        min-height: 47vw;
        padding-right: 64px;
    }

    .scroller {
        width: 8vw;
        height: 2vw;
    }

    .story {
        min-height: 47vw;
        min-width: 25vw;
        margin-left: 5vw;
    }

    .story img {
        height: 32vw;
    
    }

    .story button {
        min-height: 23%;
        min-width: 41%;
        margin-right: 24px;
    }

    .story article {
        height: 15vw;
    }

    article h4 {
        font-family: inter;
        font-variation-settings: "wght" 400;
        font-size: 22px;
        line-height: 26px;
    }

    article p {
        font-family: inter;
        font-variation-settings: "wght" 300;
        font-size: 16px;
        line-height: 22px;
    }

    .short {
        display: none;
    }

    .long {
        display: unset;
    }
}